@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
  font-family: 'Poppins', 'sans-serif';
  margin: 0;
  padding: 0;
  width: 100vw;
}

nav {
  display: flex;
  background-color: #8D5FC9;
  width: 100%;
}

.nav-container {
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  margin-right: 2.5rem;
  margin-left: 2.5rem;
  justify-content: space-between;
}

.nav-items {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 0.625rem;
}

.logo {
  width: 3.75rem;
  height: 3.75rem;
}

.my-name {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 600;
}

.nav-h1 {
  color: #FFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
}

.nav-links {
  display: flex;
  gap: 0.625rem;
}

.nav-links-items {
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}

.hidden-h1 {
  color: #8D5FC9;
  font-size: 2rem;
  font-weight: 700;
  margin: 0;
  text-align: center;
}

@media (max-width: 600px) {
  .my-name {
    display: none;
  }
}

@media (max-width: 990px) {
  .nav-h1 {
    display: none;
  }
}

@media (min-width: 990px) {
  .hidden-h1 {
    display: none;
  }
}

@media (max-width: 990px) {
  .hidden-h1 {
    font-size: 1.5rem;
  }
}

.title-box {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12rem;
}

.title-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 45px;
  background: #F1468A;
  width: 47.75rem;
  height: 5rem;
}

.title {
  color: #FFF;
  text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
  font-size: 40px;
  font-weight: 700;
}

@media (max-width: 990px) {
  .title-box {
    height: 7rem;
  }
}

@media (max-width: 990px) {
  .title-container {
    width: 19rem;
    height: 3rem;
  }
}

@media (max-width: 990px) {
  .title {
    font-size: 1.25rem;
    font-weight: 600;
  }
}

.table-box {
  display: flex;
  align-items: center;
  justify-content: center;
}

.table-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #FF3485;
  width: 53.625rem;
  height: 3.75rem;
}

@media (max-width: 700px) {
  .hidden-element {
    display: none;
  }
}

h3 {
  color: #FFF;
  font-size: 1.25rem;
  font-weight: 500;
}

@media (max-width: 990px) {
  h3 {
    font-size: 1rem;
    font-weight: 400;
  }
}

.users-container {
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.button {
  text-decoration: none;
  border-radius: 45px;
  background: #1E1E1E;
  width: 5.625rem;
  height: 2.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  font-size: 1rem;
  font-weight: 400;
}

p {
  color: #FFF;
  font-size: 0.8rem;
  font-weight: 500;
  width: 9.375rem;   /* Set a fixed width for each item (adjust as necessary) */
}

@media (max-width: 700px) {
  p {
    width: 7rem;
  }
}

.alternate-card {
  background: #8D5FC9;
}

.user-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6.5rem 0rem;
  padding-bottom: 2.75rem;
}

.user-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 45px;
  background: #FB3567;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 53.125rem;
  height: 40.625rem;
}

.title-name {
  color: #FFF;
  font-size: 1.5rem;
  font-weight: 500;
  margin-bottom: 0;
}

p.username {
  color: #FFF;
  font-size: 1rem;
  font-weight: 500;
  opacity: 0.9;
  width: auto;
  margin: 0;
}

.line {
  background: #FFF;
  width: 36.875rem;
  height: 1px;
  margin: 1.25rem 0rem;
}

.email-container {
  width: 33.313rem;
  height: 2.875rem;
  background: #FFF;
  display: flex;
  align-items: center;
}

h2.email-label {
  color: #FF3485;
  font-size: 1rem;
  font-weight: 600;
  margin: 0rem 1rem;
}

p.email {
  color: #FF3485;
  font-size: 1rem;
  font-weight: 400;
  margin: 0rem 1rem;
  opacity: 0.8;
}

.address-container {
  width: 33.313rem;
  height: 10.875rem;
  background: #FFF;
  margin: 0.75rem 0 0 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.address-container h2 {
  color: #FF3485;
  font-size: 20px;
  font-weight: 600;
  margin: 0.5rem 0 0 0 ;
}

.address-boxes {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 0.625rem;
  width: 100%;
}

.address-boxes h3 {
  color: #FF3485;
  font-size: 1rem;
  font-weight: 500;
  margin: 0;
  width: 6.5rem;
}

.address-boxes p {
  color: #FF3485;
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  opacity: 0.8;
}

.address {
  display: flex;
  gap: 0.625rem;
  margin-left: 1rem;
}

.contacts-container {
  border-radius: 2.75rem;
  background: #FFF;
  width: 33.25rem;
  height: 2.75rem;
  margin: 0.75rem 0;
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  margin-left: 1rem;
  width: 100%;
  align-items: center;
}

.contact h3 {
  color: #FF3485;
  font-size: 1rem;
  font-weight: 600;
  margin-right: 2rem;
  width: 5rem;
}

.contact p {
  color: #FF3485;
  font-size: 1rem;
  font-weight: 400;
  opacity: 0.8;
  width: auto;
}

.buttons-container {
  display: flex;
  gap: 1.75rem;
}

.buttons-container button {
  width: 7.25rem;
  height: 2.25rem;
  background: #1E1E1E;
  border-radius: 2.75rem;
  border: 0;
  margin-top: 1.25rem;
  color: #FFF;
  font-size: 20px;
  font-weight: 600;
}

.end-line {
  width: 652px;
  height: 13px;
  border-radius: 652px;
  opacity: 0.4;
  background: #8D5FC9;
  box-shadow: 0px 2px 2px 1px rgba(0, 0, 0, 0.50);
  margin-bottom: 4rem;
}

@media (max-width: 658px) {
  .email-container, .address-container, .contacts-container, .end-line, .line {
    width: 20rem;
  }
}

@media (max-width: 658px) {
  p.email, .address-boxes p, .contact p {
    font-size: 0.75rem;
  }
}

@media (max-width: 658px) {
  .user-box {
    padding-top: 3rem;
  }
}

@media (max-width: 658px) {
  .user-container {
    width: 25rem;
  }
}